<div class="table-responsive">
  <table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Posicion</th>
        <th>Nacionalidad</th>
        <th>Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of plantel">
        <td>{{jugador.name}}</td>
        <td>{{jugador.position}}</td>
        <td>{{jugador.nationality}}</td>
        <td>{{jugador.dateOfBirth | date:"dd/MM/yyyy"}}</td>
      </tr>
    </tbody>
  </table>
</div>